
/*
* For non-HTML5 browswers. From MDN:
* https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_HTML_sections_and_outlines#Using_HTML5_elements_in_non-HTML5_browsers
*/

article,
aside,
footer,
header,
hgroup,
nav,
section {
  display:block;
}

/* main CSS styles */
body,
main {
  margin: 5px;
  background-color: #eaeaea;
}

body {
  width: 85%;
  padding: 3px;
}

.content {
  width:inherit;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
}

.main_content {
  flex-direction: row;
}

hr {
  width: 100%;
  margin: 4px;
  padding: 1px;
  height: 3px;
  background-color: #7d97ad;
}

.featured_work {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  border: dotted 2px #96ab7e;
}

.subsection {
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-shadow: 2px 2px 2px #aaa;
}

/*
* Reccomended section breakup for CSS from
* http://udacity.github.io/frontend-nanodegree-styleguide/css.html
*/

/* Header */
.header {

}

.header-nav {
    …
}

.main_header {
  width: 85%;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  border: dotted 2px #96ab7e;
}

h1,
h3 {
  margin-right: 1em;
  text-shadow: 2px 2px 2px #aaa;
}

h1 {
  align-self: flex-start;
}

h3 {
  align-self: flex-end;
}

.header_logo {
  margin: 1em;
  padding: 3px;
}

.main_logo {
  justify-content: center;
  margin: 1em;
  padding: 3px;
}

article {
  width: 33%;
  margin: 1em;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 80% "Open Sans", sans-serif;
}

.footer-nav {
    …
}


/* main Responsive CSS styles */

@media screen and (max-width: 549px) {
  body,
  main,
  .main_header {
    width: 95%;
  }

  .header_logo {
    margin: 1px;
    padding: 1px;
  }
  .featured_work {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 550px) {
  body,
  main {
    /* TODO:  */
  }
}
